body {
  background-color: brown;
  margin: 15px;
  }

h1 {
  background-color: yellow;
  border: dotted 4px maroon;
  border-radius: 10%;
  text-align: center;

}

#za {
  background-image: image("img/cheesePizza1.jpeg");
  float: right;
  border: solid 2px maroon;
  border-radius: 25%;
  background-color: inherit;
}

.jumbotron {
  display: none;
  width: 80%;
  margin: 10px;
}

.grandOrder {
  display: none;
  width: 30%;
  background-color: salmon;
  border-style: double;
  float: right;
}

#totalCost {
  background-color: lightgrey;
}
